header.header {
  background: var(--black);
  padding-top: 0;
  
  > div {
    
    margin: 0 auto;
    padding: 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      position: absolute;
      top:1.2rem;
      left:1rem;

    }


  }
}